NEXT_PUBLIC_SUPABASE_URL=https://ypzvbmdoqqmmbhabjdel.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwenZibWRvcXFtbWJoYWJqZGVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5NTQ1MDAsImV4cCI6MjA4NzUzMDUwMH0.x4v6DtQ2bLyN5cgjdDde58O6YMyd-i-3SVgDnhXkb2w
LINKEDIN_CLIENT_ID=779mxcuf5fce6w
LINKEDIN_CLIENT_SECRET=WPL_AP1.PH1ivzFz4sDRHnD3.FqXRbw==
NEXT_PUBLIC_APP_URL=http://localhost:3000
